# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/config/.esphome/
/config/secrets.yaml
/.idea/*
/config/esp32c3supermini.yaml
/config/esp32s3.yaml
